*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 400px) {
  html,
  body {
    height: auto;
    width: auto;
  }
}